body {
	background-color:#353a4a;
}
div.header {
	float:left;
}
div.space {
	padding-top: 50px;
	padding-left: 30px;
}
img.resize{
	width: 300px;
  height: 200px;
	padding: 50px;
	display: none;
}
.nav1 {
  overflow: hidden;
	width: 500px;
	padding-left: 1px;
}
.nav1 a {
	color: #19191f;
  float: left;
  display: block;
  text-align: left;
  padding: 14px 10px;
  text-decoration: none;
  font-size: 19px;
	font-weight: bold;
}
.nav1 a:hover {
  color: #202f5e;
}
.border {
 border-style:solid;
 border-color:#656578;
 border-width: 1px;
 padding: 50 30 80 30;
 width: 35%;
 background-color: #54566b;
}
ul {
  margin: 0;
}
